.App {
  text-align: left;
  min-width: 1in;
  max-width: 50%;
  margin: auto;
  font-size: 0.25in;
}

.lorde, .rand { white-space:pre-line }

.selectbox {
  padding-bottom: 1in;
}

.lorde {
  padding-bottom: 0.5in;
}